<h1>
  deployment
</h1>
<app-shared-drop-down [options]="options" [placeholderLabel]="'regular select'"></app-shared-drop-down>
<app-shared-drop-down [options]="options" [customOption]="customOptionRef" [placeholderLabel]="'custom select'">
</app-shared-drop-down>
<app-shared-multi-select [options]="options" [placeholderLabel]="'multi select'"></app-shared-multi-select>
<router-outlet></router-outlet>

<ng-template #customOptionRef let-option>
  <div class="custor-option">
    <span>custom option {{option}}</span><span *ngFor="let smile of [].constructor(5)">😊</span>
  </div>
</ng-template>